body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.border::-webkit-scrollbar-thumb{
    background-color: #008080;
    border-radius: 7px;
}

.border::-webkit-scrollbar{
    background-color: rgba(255, 255, 255, 0);
}

a::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ccc;
    margin: 0 10px 0 6px;
    vertical-align: -1px;
}